{% extends "base.html" %}
{% block Title %}Credential Management{% endblock %}
{% block header %}Credential Management{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="card border-dark mb-3">
                <div class="card-header">Username/Password</div>
                <div class="card-body text-primary">
                    {% for form in userpass_forms %}
                        <div class="row">
                            <form action="{% url "eo_engine:credentials" %}" method="post">
                                {% csrf_token %}
                                {{ form.instance.id }}
                                {{ form }}
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-dark mb-3">
                <div class="card-header">API-KEYS</div>
                <div class="card-body text-primary">
                    {% for form in apikey_forms %}
                        <div class="row">
                            <form action="{% url "eo_engine:credentials" %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="form-id" value={{ form.instance.id }}>

                                {{ form }}
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
