{% extends "base.html" %}
{% block header %}
    Earth Obs Products
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                Group Name: <b>{{ group.get_name_display }}</b>
            </div>
            <div class="col">
                Task Name: <b>{{ task_name }}</b>
                {% if group.submit_schedule_for_generation %}
                    <a class="btn btn-primary"
                       href="{{ group.submit_schedule_for_generation.url }}"
                       role="button">{{ group.submit_schedule_for_generation.label }}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url "eo_engine:main-page" %}">MainPage</a></div>
            <div class="col">
                <a href="{% url "eo_engine:pipeline-inputs-list" pipeline_pk=pipeline_pk %}">Pipeline Inputs</a>
            </div>
        </div>
    </div>
    <table style="width: 100%">
        <tr>
            <th>id</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Generate</th>
            <th>Download</th>
            <th></th>

        </tr>
        {% for eo_product in data %}
            <tr>
                <td>{{ eo_product.pk }}</td>
                <td>{{ eo_product.filename }}</td>
                <td>{{ eo_product.state }}</td>
                {% if eo_product.generate_url %}
                    <td><a href="{{ eo_product.generate_url }}">Generate</a></td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if eo_product.file_url %}
                    <td><a href="{{ eo_product.file_url }}" download>Download</a></td>
                    <td>
                        <a style="-webkit-appearance: button;-moz-appearance: button;text-decoration: none; color: initial"
                           href="{% url 'eo_engine:delete-file' resource_type="eo_product" pk=eo_product.pk %}">delete</a>
                    </td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block extra_header %}

{% endblock %}
