{% extends "base.html" %}
{% block header %}
    Earth Obs Products
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ group_name }}
                <a href="{% url "eo_engine:main-page" %}">MainPage</a></div>
            {#            <div class="col"><a href="{% url "eo_engine:list-eosources" %}">Sources</a></div>#}
        </div>
    </div>
    <table style="width: 100%">
        <tr>
            <th>id</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Generate</th>
            <th>Download</th>
            <th></th>

        </tr>
        {% for eo_product in data %}
            <tr>
                <td>{{ eo_product.pk }}</td>
                <td>{{ eo_product.filename }}</td>
                <td>{{ eo_product.state }}</td>
                {% if eo_product.generate_url %}
                    <td><a href="{{ eo_product.generate_url }}">Generate</a></td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if eo_product.file_url %}
                    <td><a href="{{ eo_product.file_url }}" download>Download</a></td>
                    <td>
                        <a style="-webkit-appearance: button;-moz-appearance: button;text-decoration: none; color: initial"
                           href="{% url 'eo_engine:delete-file' resource_type="eo_product" pk=eo_product.pk %}">delete</a>
                    </td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block extra_header %}

{% endblock %}
