{% extends "base.html" %}
{% block Title %}
    Earth Observation Sources
{% endblock %}
{% block header %}
    Earth Observation Sources
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {{ group_name }}
            <div class="col"><a href="{% url "eo_engine:main-page" %}">MainPage</a></div>
            {#            <div class="col"><a href="{% url "eo_engine:list-eoproducts" %}"> Products</a></div>#}
        </div>
    </div>
    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Filename</th>
            <th>Reference Date</th>
            <th>State</th>
            {#            <th>Cancel Task</th>#}
            <th>Fetch from remote Server</th>
            <th>Download locally</th>
            {#            <th>Delete</th>#}
        </tr>
        {% for eo_source in data %}
            <tr>
                <td>{{ eo_source.pk }}</td>
                <td>{{ eo_source.filename }}</td>
                <td>{{ eo_source.reference_date | date:"D d M Y" }}</td>
                <td>{{ eo_source.state }}</td>
                <td><a href="{{ eo_source.download_task_url }}">Fetch from Remote Server</a></td>
                {% if eo_source.file %}
                    <td><a href="{{ eo_source.file }}">Download</a></td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}
